# Description
Financial analysis Part: 1

In [2]:
# The code was removed by Watson Studio for sharing.

,#RETAILER_NUMBER,RSO_NUMBER,DISTRIBUTOR_CODE,DENO_NUMBER,DENO_COUNT,LastUpdateTime
0,1949272025,1949272024,ALTDBBL01,49,837,14/12/2020 21:45:26
1,1967021214,1986646476,BKASH,49,716,14/12/2020 21:45:26
2,1984217871,1986646476,BKASH,49,710,14/12/2020 21:45:26
3,1986684446,1986646476,BKASH,49,694,14/12/2020 21:45:26
4,1986646477,1986646476,BKASH,49,687,14/12/2020 21:45:26